@charset "UTF-8";
@import url(nullstyle.css);

/* //////////////////// */

.header {
  border: 1px solid grey;
  border-radius: 3px;
  background-color: #c2b8b2;
  padding: 5px 20px;
  margin: 20px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;

  position: relative;
  min-width: 500px;

  font-size: 1.3em;
}

form {
  margin: 0 auto;
}

input {
  border-radius: 7px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  margin: 0 auto;

  min-width: 252px;
  max-width: 470px;
  width: 100%;

  padding: 5px 15px;
  font-size: 0.9em;
}
#mainLogo {
  height: 70px;
  margin-left: auto;
}
.time_block {
  margin-left: auto;
  color: #493d39;
  border: 1px solid grey;
  border-radius: 8px 1px 8px 1px;
  padding: 4px 8px;
}
.main {
  border: 1px solid grey;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
}
.first_line,
.second_line,
.first_line p,
.second_line p {
  border-radius: 3px;
  display: flex;
  margin: 20px;
}

.first_line,
.second_line {
  border: 1px solid grey;
  display: flex;
  justify-content: center;
}

.first_line p,
.second_line p {
  border: 1px solid grey;
  background-color: #e4dedc;
  color: #464646;
  padding: 20px;
  margin: 10px;
}

.dayWeatherPreview__block {
  max-width: 100px;
  max-height: 162px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 5px;
}
.dayWeatherPreview__block:hover {
  border: 1px solid rgb(194, 192, 192);
  border-radius: 3px;
  margin-top: 10px;
  box-shadow: 0 0 13px rgb(194, 192, 192);
}

.dayWeatherPreview__main {
  display: flex;
  justify-content: center;
  text-align: center;
}

.dayWeatherPrevie__date {
  color: red;
  font-weight: 800;
  font-size: 18px;
}

.dayWeatherPrevie__temp {
  padding: 10px;
  color: royalblue;
  font-size: 20px;
}

.dayWeatherPrevie__about {
  font-size: 15px;
  font-weight: 800;
}
