@charset "UTF-8";
@import url(nullstyle.css);
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@200;400;600&display=swap");

/* //////////////////// */

* {
  font-family: "Exo 2", sans-serif;
  font-weight: 200;
}

.header {
  border: 1px solid grey;
  border-radius: 3px;
  background-color: #c2b8b2;
  padding: 5px 20px;
  margin: 20px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;

  position: relative;
  min-width: 500px;

  font-size: 1.3em;
}

form {
  margin: 0 auto;
}

input {
  border-radius: 7px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  margin: 0 auto;

  min-width: 252px;
  max-width: 470px;
  width: 100%;

  padding: 5px 15px;
  font-size: 0.9em;
}
#mainLogo {
  height: 70px;
  margin-left: auto;
}
.time_block {
  margin-left: auto;
  color: #493d39;
  border: 1px solid grey;
  border-radius: 8px 1px 8px 1px;
  padding: 4px 8px;
}
.main {
  border: 1px solid grey;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
}

.first_line {
  display: flex;
  justify-content: center;
  max-height: 199px;
  margin: 15px;
}
.second_line {
  display: flex;
  justify-content: center;
  max-height: 199px;
  min-height: 199px;
}

.first_line_p {
  font-size: 18px;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: #e2e1e1;
  color: #464646;
  padding: 10px;
  margin: 10px;
}

.first_line p:hover {
  outline: 1px solid rgb(73, 72, 72);
  box-shadow: 0 0 13px grey;
}

.dayWeatherPreview__block {
  max-width: 100px;
  max-height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 5px;
}
.dayWeatherPreview__block:hover {
  outline: 1px solid rgb(194, 192, 192);
  border-radius: 3px;
  margin-top: 10px;
  box-shadow: 0 0 13px rgb(194, 192, 192);
}

.weather2hours {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.weather2hours > div:hover {
  /* outline: 1px solid rgb(170, 214, 255); */
  border-radius: 3px;
  box-shadow: 0 0 13px rgb(179, 218, 255);
}

.weather2hours > div {
  padding: 5px 0px;
}

.weather2hours div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.weather2hours div div {
  width: 100%;
}

.dayWeatherPreview__main {
  display: flex;
  justify-content: center;
  text-align: center;
}

.dayWeatherPrevie__date {
  color: red;
  font-weight: 800;
  font-size: 16px;
}

.dayWeatherPrevie__temp {
  padding: 10px;
  color: royalblue;
  font-size: 20px;
}

.dayWeatherPrevie__about {
  font-size: 15px;
  font-weight: 800;
}
.main_line {
  background: url("../img/bgday.jpg") no-repeat;

  border-radius: 20px;
  padding: 20px;
  margin: 10px;

  color: #ffffff;
}

.main_line {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main_line > div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.main_line > div p {
  display: block;
}

.main_line * {
  font-weight: 400;
}

.main_line hr {
  margin: 20px auto 0 auto;
  width: 85%;
  border-top: 1px solid rgba(188, 243, 255, 0.5);
}

.main_line_weather_info p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 200;
}

.main_line_left > * {
  width: 100%;
}

#main_line_city {
  font-size: 35px;
  margin: 20px;
}
#main_line_icon {
  width: 120px;
  margin-left: -0px;
}

#main_line_temp {
  font-size: 30px;
}

#main_line_time {
  font-size: 20px;
  margin-top: 10px;
  margin-left: 25px;
}

.first_line__active {
  background-color: rgb(190, 187, 187);
}

.main__block {
  border: 1px solid black;
  margin: 10px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 20px;
}
.zero_line {
  font-size: 50px;
  font-weight: 800;
}

.zero_line_2 {
  margin: 5px;
  font-size: 15px;
  opacity: 0.8;
}

.main_zero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 380px;
  align-self: center;
}
